body {
  background-image: url("/img/IMG_5259.JPG");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;

}

.hero-info {
  margin: auto;
  background-color: rgba(16, 63, 183,.5);
  width: 45%;
  border-radius: 16px;

}

.title {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: #fff;
  font-size: 5em;
  margin-bottom: 20px;
  }
  .info {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0px;
    }
    .info1 {
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 3em;
      text-align: center;
      padding-bottom: 30px;
      }
  .repair-div {
    display: flex;
    justify-content: center;
    }

  .repair-img {
    margin: 0 auto;
    border-radius: 15px;
    border: 10px ridge rgb(255, 242, 0);
    opacity: .7;
    height: 200px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgba(16, 63, 183, 1); */
    height: 70px;
    margin-left: -9px;
      }
